fastapi
clickhouse-connect
google-adk[db]
aiosqlite
greenlet
google-genai
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
mcp-clickhouse
python-dotenv
uvicorn[standard]
